/*COLORS*/
/**********************Text Colors*************************/
$clr-1: white;
$clr-2: black;
$clr-txt-secondary: rgb(53, 53, 53);
/*******************Background Shades**********************/
$bg-shade-1: #edecec;
$bg-shade-2: #f7f6f6;
$bg-shade-3: #f5edff;
/*******************Graphic Identity***********************/
$primary-color: #9356dc;
$secondary-color: #ff79da;
$third-color: #99e2d0;

/*TOOLS*/
/***********************Gradients**************************/
$gradient-primary-color: linear-gradient(
  0deg,
  rgba(147, 86, 220, 1) 30%,
  rgba(255, 121, 218, 1) 100%
);
/***********************Shadows****************************/
$header-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.49);
$section-shadow: -2px 1px 6px 0px rgba(0, 0, 0, 0.49);
$btn-shadow: 1px 10px 9px 1px rgba(0, 0, 0, 0.12);
$btn-shadowHover: 0px 15px 15px 1px rgba(0, 0, 0, 0.2);
/************************Tools*****************************/
$background-displayer: paletteGout noteEnchantee francaise delice;
$meal-delay-displayer: (
  3: 0.1s,
  5: 0.2s,
  7: 0.3s,
  9: 0.4s,
);
